<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wn.mapper.BookMapper">

    <select id="selectBook" resultType="Book">
        select * from book
    </select>

    <select id="pages" resultType="Book" parameterType="Integer">
        select * from book limit #{pageNo},3
    </select>

    <select id="total" resultType="Integer">
        select count(*) from book
    </select>



    <delete id="deleteBook" parameterType="Integer">
        delete from book where bookid = #{bookid}
    </delete>


</mapper>