# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\8AProject2\Coding_wn\springboot_test_in_11_14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
